<!DOCTYPE html>
<html>
    <head>
        <title>
            Customer Details
        </title>
        <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/7.21.3/babel.min.js"></script>
        
    <body>
        <div id="root"></div>
        <script type="text/babel">
           
            class DisplayCustomer extends React.Component{

                render(){
                    return <div><h1>Customer Details</h1>
                        <b>Name: {this.props.name}</b><br/>
                        <b>Email: {this.props.email}</b>
                        <DisplayAddress address={this.props.address}/>
                        </div>
                    
                }
            }
            

            // Components generate HTML code.
            class DisplayAddress extends React.Component{
                 render(){
                    return <div>
                        <h2>Customer Address</h2>
                        <b>Street: {this.props.address.street}</b><br/>
                        <b>City: {this.props.address.city}</b>
                    </div>
                 }
            }

            // Hard coded objects which we will receive later from the webserver.
            const address1 = {
                street: 'Heilige Geeststraat',
                city: 'Roermond'
            }

            const address2 = {
                street: 'Lichtstraat',
                city: 'Eindhoven'
            }

            // To be able to render multiple components in reactDOM.render we should write one root element. So JSX must have one root element.
            ReactDOM.render(<div><DisplayCustomer name="Gizem" email="violivaldi@gmail.com" address={address1}/>
                 <DisplayCustomer name="Erudes" email="erudes@gmail.com" address={address2}/></div>, document.getElementById("root"));
        </script>
    </body>
    </head>
</html>